.employeeDetailsArrayWrap{
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: space-between;
}
.employeeDetailsArray{
  padding: 15px;
  /* background: #8fa6d2; */
  background: linear-gradient(to right, #36d1dc,#5b86e5);
  margin: 15px 10px;
  border-radius: 5px;
  width: 500px;
  max-width: 100%;
  /* margin: 10px ; */
  flex-grow: 1;
  display: flex;
  position: relative;
  height: 100%;
}
.employeeDetailsArray:nth-child(odd){
  /* margin-right: 20px; */
}
.revealBtn,.revealBtn:focus{
  background: none;
  color: #fff;
  border: none;
}
.profileImageBox{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #1b1c4a;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  margin-right: 30px;
  
}
.employeeListLabel{
  font-weight: 500;
}
.revealButton{
  position: absolute;
  top: 10px;
  right: 15px;
}
@media(max-width:600px){
  .companyLabel{
    width: 100%;
  }
  .companyLogo{
    margin-top: 20px;
  }
}